.customer-action-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0px;
  border: 1px solid #eadbc8;
  border-radius: 5px;
  box-shadow: 0 2px 4px #d0b59b;
  background-color: #fcfaf8;
  font-family: "Quicksand", sans-serif;
}

.customer-action-header {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.action-list {
  list-style-type: none;
  padding: 7px;
}

.action-item {
  padding: 10px;
  border-bottom: 1px solid #eadbc8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-item:last-child {
  border-bottom: none;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.action-edit-btn,
.action-new-btn,
.action-delete-btn,
.back-btn {
  padding: 7px;
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.4s ease;
  background-color: #EADBC8;
}

.action-edit-btn:hover,
.action-new-btn:hover,
.action-delete-btn:hover,
.back-btn:hover {
    background-color: #DAC0A3;
}

.back-btn {
    margin: 20px;
}
